<div th:fragment="entete_init">

	<div class="row d-flex align-items-center">


		<div class="col-2">
			<a href="/"> <img src="logo0.png" alt=""  th:src="@{/logo0.png}"/></a>

		</div>


		<div class="col-10">
			<div class="identif d-flex justify-content-end">

				<a href="presentation">
					<button type="button" class="btn btn-secondary mb-0 mr-1">Qui
						sommes-nous?</button>
				</a> 
				
				<a href="galerie">
					<button type="button" class="btn btn-secondary mb-0 mr-1">Galerie</button>
				</a> 
				<input class="mr-1" type="text" placeholder="Search..">
				<button type="button" class="btn btn-secondary mb-0 mr-1">Search</button>
				
				<a href="/connexion">
					<button type="button" class="btn btn-secondary mb-0 mr-1">Login</button>
				</a>
			</div>


		</div>

	</div>
</div>