<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/styles.css">
<title>Les amis de l'escalade</title>

<style>
.comment {
	border: 1px solid;
	border-radius: 8px;
	margin: 10px;
	color: black;
}
}
</style>
</head>
<body>
	<div class="container">

		<!-- ENTETE -->

		<span th:if="${authentification}">
			<div th:replace="fragments/entete_post :: entete_post"></div>
		</span> <span th:unless="${authentification}">
			<div th:replace="fragments/entete_init :: entete_init"></div>
		</span>

		<!-- ---------------- -->



		<!-- IMAGE -->
		<div class="row">
			<div class="col">
				<img class="img-fluid" src="/images/bandeau1.png" alt=""
					th:src="@{/images/bandeau1.png}" />
			</div>
		</div>

		<div class="message row">
			<div class="col">
				<h1>Liste des commentaires</h1>
				<h2 th:text=${site.nom}></h2>
			</div>
		</div>
		<div class="row">

			<div class="col">

				<span th:if="${vide}">

					<div>
						<h3 style="color: red;">Il n'y a aucun commentaire pour le moment!</h3>
					</div>


				</span> <span th:unless="${vide}">

					<div th:each="commentaire, iStat  : ${commentaires}">


						<div class="comment">
							<strong><p
									th:text="${commentaire.getAuteur().getPrenom()}+ ' ' + ${commentaire.getAuteur().getNom()}"></p></strong>
							<!-- <p th:text="'Nom: ' + ${commentaire.getAuteur().getNom()}"></p> -->
							<p th:text="${commentaire.text}"></p>

							<span th:if="${authentification}"> <span
								th:if="${utilisateur.membre}">
									<div class="row justify-content-end"
										style="margin-right: 10px;">
										<a style="margin-right: 10px;"
											th:href="@{/commentaire/supprimer/comment(siteId=${site.id},num=${iStat.index})}"
											class="text-primary">Supprimer</a> <a
											th:href="@{/commentaire/modifier/comment(siteId=${site.id},num=${iStat.index})}"
											class="text-primary">Modifier</a>
									</div>
							</span>
							</span>
								
								
								<!-- A retravailler -->
								<a style="margin-right: 10px;"
								th:href="@{/commentaire/${commentaire.getId()}/supprimer"  
								class="text-primary">Supprimer</a> <a
								th:href="@{/commentaire/modifier/comment(siteId=${site.id},num=${iStat.index})}"
								class="text-primary">Modifier</a>
								
						</div>

					</div>
				</span>
			</div>
		</div>

		<div class="row pt-3">

			<div class="col">
				<div class="d-flex justify-content-end">
					<a th:href="@{/viewsite/{nomSite}(nomSite=${site.nom})}"><button
							type="button" class="bouton btn btn-primary mr-1">Retour</button></a>
				</div>
			</div>

		</div>
		<!-- PIED DE PAGE -->


		<div th:replace="fragments/footer :: footer"></div>

		<!-- ********************************************* -->


	</div>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>