<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/styles.css">
<title>Les amis de l'escalade</title>

<style>
.comment {
	border: 1px solid;
	border-radius: 8px;
	margin: 10px;
	color: black;
}
}
</style>
</head>
<body>
	<div class="container">


		<!-- Entete -->
		<span th:if="${authentification}">
			<div th:replace="fragments/entete_post :: entete_post"></div>
		</span> <span th:unless="${authentification}">
			<div th:replace="fragments/entete_init :: entete_init"></div>
		</span>


		<!-- ********************************************* -->

		<!-- IMAGE -->
		<div class="row">
			<div class="col">
				<img class="img-fluid" src="/images/bandeau1.png" alt=""
					th:src="@{/images/bandeau1.png}" />
			</div>
		</div>
		<span th:unless="${avance}">
			<div class="message row">
				<div class="col">
					<h1>Résultats de recherche</h1>
					<p style="color: blue;" th:text="'Critère: ' + ' ' + ${phrase}"></p>
				</div>
			</div>
		</span> <span th:if="${vide}">

			<div class="message row">
				<div class="col">
					<h3 style="color: red;">Aucun résultat ne correspond à votre
						critère de recherche!</h3>

				</div>
			</div>


		</span> <span th:unless="${vide}">
			<div th:each="site , iStat: ${sites}">
				<div class="row">


					<div class="informations col">
						<div class="row">
							<div class="col">
								<h1>Informations site</h1>
							</div>
							<div class="col">
								<div class="row justify-content-end">
									<h1 th:if="${site.isOfficiel()}">
										<img class="img-fluid" src="/images/tag01" alt=""
											th:src="@{/images/tag01.png}" />
									</h1>
								</div>
							</div>
						</div>
						<strong><span th:text="'Nom: '+ ${site.nom}"></span></strong><br>
						<strong><span
							th:text="'Localisation: '+ ${site.localisation}"></span></strong><br>
						<strong><span
							th:text="'Département: '+ ${site.departement}"></span></strong><br> <strong><span
							th:text="'Createur: '+ ${createurs.get(iStat.index).getPrenom()} + ' ' + ${createurs.get(iStat.index).getNom()}"></span></strong><br>
						<br>

						<div class="row justify-content-end" style="margin-right: 10px;">
							<a th:href="@{/viewsite/{nomSite}(nomSite=${site.nom})}"
								class="text-primary">Voir site</a>
						</div>

					</div>
				</div>

			</div>

		</span>
		<div class="row pt-3">

			<div class="col">

				<div class="row justify-content-end">
					<a href="/"><button type="text"
							class="bouton btn btn-primary mr-1">Retour</button></a> <a
						href="/recherche/avancee"><button type="text"
							class="bouton btn btn-primary">Recherche avancée</button></a>
				</div>
			</div>

		</div>

		<!-- PIED DE PAGE -->


		<div th:replace="fragments/footer :: footer"></div>

		<!-- ********************************************* -->


	</div>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>
